:root {
  font-size: 60%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
